.header__lang-link-container {
    width: 78px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

@media all and (max-width: 768px) {
    .header__lang-link-container {
        width: 62px;
    }
}