.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', 'Maison Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
  z-index: 1;
}

@media all and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

