.photo-grid__item-list {
  max-width: 1184px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 16px;
  row-gap: 12px;
}


@media screen and (max-width: 1279px) {
  .photo-grid__item-list {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 14px;
    row-gap: 10px;
  }
}

@media all and (max-width: 1023px) {
  .photo-grid__item-list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    max-width: 720px;
    column-gap: 16px;
    row-gap: 12px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid__item-list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    max-width: 288px;
    grid-gap: 8px;
  }
}
