.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 690px;
  margin: 92px auto 0 148px;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
        margin-left: 48px;
        margin-top: 93px;
    }
}


@media all and (max-width: 1023px) {
    .intro {
        max-width: 768px;
        margin-top: 89px;
        margin-left: 24px;
    }
}

@media all and (max-width: 767px) {
    .intro {
        max-width: 320px;
        margin: 64px auto 0;
        align-self: center;
        margin-left: 16px;
    }
}
