.cover__title {
  font-style: normal;
  height: 20%;
  width: 47%;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 20.5% auto 0;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 30.4%;
    width: 54.6%;
    height: 30%;

  }
}

@media all and (max-width: 768px) {
  .cover__title {
    margin-top: 23.7%;
    width: 72.9%;
    height: 32.2%;
  }
}

@media all and (max-width: 320px) {
  .cover__title {
    width: 90%;
    height : 35%;
    font-size: 32px;
    line-height: 35px;
    margin-top: 16.5%;
  }
}
