.places__website-text {
  margin: 0 0 12px;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-family: 'Inter', 'Maison Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}
