.places__website-text {
  height: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Inter', 'Maison Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media all and (max-width: 767px) {
  .places__website-text {
    margin-left: 16px;
  }
}
